form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: normal;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-radius: 1px;
  border: solid black;
}

.form-input::placeholder {
  color: antiquewhite;
}

.form-control .btn {
  cursor: pointer;
  color: #fff;
  background: cyan;
  border-radius: 1px;
  border-top-right-radius: 0.5rem;
  break-before: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-transform: capitalize;
}

.form-control .btn:hover {
  background: #0e7490;
}
