*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #65c8dc;
  font-family: "Quicksand", system-ui, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: #2a2f33;
}

.section-center {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 30rem;
  border-radius: 15px;
  border: solid #658ddc;
  position: relative;
  padding: 2rem;
  background: #f8fafc;
}
