*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(241, 225, 195);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: gray;
}

.section-center {
  margin: 0 auto;
  margin-top: 15rem;
  max-width: 30rem;
  border-radius: 15px;
  position: relative;
  padding: 2rem;
  background: #fff;
}
