.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1.5rem;
  align-items: center;
}

.single-item p {
  text-transform: capitalize;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 0.65rem;
  height: 0.65rem;
}

.single-item .btn {
  cursor: pointer;
  color: #6b7280;
  background: transparent;
  border-radius: 6px;
  border: transparent;
  padding: 0.15rem 0.35rem;
  font-size: 1rem;
}

.single-item .btn:hover {
  background: #e2e8f0;
  color: #2a2f33;
}

.single-item.remove-btn {
  background: transparent;
}

.single-item.remove-btn:hover {
  background: #e2e8f0;
  color: #2a2f33;
}
